@charaset"utf-8";
body {
    color: #666666;
    line-height : 2em ;
    margin : 0;
    padding : 0 ;
    z-index : 0 ;
}
#img {
    width            : 1386px ;
    height           : 306px ;
    /* border           : solid 2px #999; */
    z-index : 10 ; 
}
#first_left {
    padding-top: 30px;
    z-index   :    40 ;
    width     :  55% ;
    float     : left ;
    position: relative;
}
#first_right {
    /* width     :  45%  ; */
    float     : right ;
    z-index   :    30 ;
    position  : absolue;
    top       : 0px   ;
    left      : 623px ;
}
#june28 {
    font-size : 100px ;
    line-height : 1em ;
    color     : #ff0000 ;
    height    :   33% ;
    z-index   :   41  ;
    margin-left:  70px; 
}
#seventhworkshop {
    font-size : 70px ;
    line-height : 2em ;
    color     : #006699 ;
    height    :   33% ;    
    z-index   :   42  ;
    margin-left:  70px;  
    font-weight: bold ;
}
#JackWelchSaid {
    font-size : 50px ;
    margin-left:  75px;  
    /* line-height : 1em ; */
    color     : #ff3300 ;
    -moz-transform-origin:    left top; /* Firefox */
    -webkit-transform-origin: left top; /* Chrome,Safari */
    -o-transform-origin:      left top; /* Opera */
    -ms-transform-origin:     left top; /* IE */
    transform-origin:         left top; /* CSS3 */
    transform : scale( 1, 1);
    -moz-transform: scale( 1, 1);
    -webkit-transform: scale( 1, 1);
    -o-transform: scale( 1, 1);
    -ms-transform: scale( 1, 1);
    height    :   33% ;
    z-index   :   43  ;
}
#Absolutery_JackWelchSaid {
    position  : absolute ;
    top       : 580px ;
    font-size : 100px ;
    line-height : 0px ;
    margin-left:  70px;
    color     : #ff3300 ;
    -moz-transform-origin:    left top; /* Firefox */
    -webkit-transform-origin: left top; /* Chrome,Safari */
    -o-transform-origin:      left top; /* Opera */
    -ms-transform-origin:     left top; /* IE */
    transform-origin:         left top; /* CSS3 */
    transform : scale( 0.7, 1);
    -moz-transform: scale( 0.7, 1);
    -webkit-transform: scale( 0.7, 1);
    -o-transform: scale( 0.7, 1);
    -ms-transform: scale( 0.7, 1);
    z-index   :   50  ;
    width     :  1200px ;
}

#session1_label {
    width: 1386px;
    height : 100px ;
    /* border: solid 2px #999; */
}
#left_space1_label {
    position : relative ;
    background-color : #ffffff;
}
#pack_of_center_session1_label {
    position : absolute ;
    top      : 700px ;
    left     : 264px ;
    width    : 942px ;
    height   : 100px ;
    background-color : #006699;
}
#center_session1_label_first_line {
    font-size : 150% ;
    position : absolute ;
    top      : 0px ;
    left     : 0px ;
    width    : 942px ;
    height   : 30px ;
    color    : #33ffff ;
    margin-left : 20px ;
}
#center_session1_label_second_line {
    font-size : 200% ;
    position : absolute ;
    top      : 31px ;
    left     : 0px ;
    width    : 942px ;
    height   : 50px ;
    color    : #ffffff ;
    margin-left : 20px ;
    line-height : 40px ;
}
#center_session1_label_third_line {
    position : absolute ;
    top      : 81px ;
    left     : 0px ;
    width    : 942px ;
    height   : 20px ;
    color    : #ffffff;
    margin-left : 20px ;
    line-height : 10px ;
}

#session1_contents {
    width: 1386px;
    height : 100px ;
}
#left_space1_contents {
    position : relative ;
    background-color : #ffffff;
}
#pack_of_center_session1_contents {
    position : absolute ;
    top      : 800px ;
    left     : 264px ;
    width    : 942px ;
    height   : 100px ;
    background-color : #ffffff;
}
#right_of_pack {
    position : absolute ;
    top      : 0px ;
    left     : 0px ;
    width    : 136px ;
    height   : 100px ;
    /*  mergin-left : 60px ; */
    
}
#left_of_pack {
    position : absolute ;
    top      : 0px ;
    left     : 127px ;
    width    : 805px ;
    height   : 100px ;
    color    : #000000 ;
    margin-left : 20px ;
}
#center_session1_contents_first_line {
    font-size : 150% ;
    position : absolute ;
    top      : 0px ;
    left     : 0px ;
    width    : 805px ;
    height   : 30px ;
    color    : #000000 ;
}
#center_session1_contents_second_line {
    font-size : 150% ;
    position : absolute ;
    top      : 31px ;
    left     : 0px ;
    width    : 805px ;
    height   : 50px ;
    color    : #000000 ;
    line-height : 40px ;
}
#center_session1_contents_third_line {
    position : absolute ;
    top      : 81px ;
    left     : 0px ;
    width    : 805px ;
    height   : 20px ;
    color    : #000000;
    line-height : 10px ;
}

#session2_label {
    position : absolute ;
    background-color : #006699;
    top      : 950px ;
    left     : 200px ;
    width    : 470px ;
    height   : 100px ;
    color    : #ffffff ;
}

#session2_label_first_line {
    font-size : 150% ;
    position : absolute ;
    width    : 470px ;
    height   : 30px ;
    color    : #33ffff ;
    margin-left : 8px ;
}
#session2_label_second_line {
    font-size : 130% ;
    position : absolute ;
    top      : 31px ;
    left     : 0px ;
    width    : 460px ;
    height   : 50px ;
    margin-left : 10px ;
    line-height : 20px ;
    font-weight : bold ;
}
#session2_label_third_line {
    position : absolute ;
    top      : 81px ;
    left     : 0px ;
    width    : 470px ;
    height   : 20px ;
    margin-left : 10px ;
    line-height : 10px ;
}

#session3_label {
    position : absolute ;
    background-color : #006699;
    top      : 950px ;
    left     : 800px ;
    width    : 470px ;
    height   : 100px ;
    color    : #ffffff ;
}

#session3_label_first_line {
    font-size : 150% ;
    position : absolute ;
    width    : 470px ;
    height   : 30px ;
    color    : #33ffff ;
    margin-left : 8px ;
}
#session3_label_second_line {
    font-size : 200% ;
    position : absolute ;
    top      : 31px ;
    left     : 0px ;
    width    : 460px ;
    height   : 50px ;
    margin-left : 12px ;
    line-height : 40px ;
    font-weight : bold ;
}
#session3_label_third_line {
    position : absolute ;
    top      : 81px ;
    left     : 0px ;
    width    : 470px ;
    height   : 20px ;
    margin-left : 12px ;
    line-height : 10px ;
}

#session2_contents {
    position : absolute ;
    background-color : #ffffff;
    top      : 1050px ;
    left     : 200px ;
    width    : 470px ;
    height   : 100px ;
    color    : #000000 ;
}

#session2_contents_first_line {
    width     :  70% ;
    font-size : 100% ;
    height   : 100px ;
    float    : right ;
    line-height : 24px ;
}

#session2_contents_second_line {
    width    :  30%  ;
    float    : left  ;
}

#session3_contents {
    position : absolute ;
    background-color : #ffffff;
    top      : 1050px ;
    left     : 800px ;
    width    : 470px ;
    height   : 100px ;
    color    : #000000 ;
}
 
#session3_contents_first_line {
    width     :  70% ;
    font-size : 120% ; 
    height   : 100px ;
    float    : right ;
    line-height : 25px ; 
}
 
#session3_contents_second_line {
    width    :  30%  ;
    float    : left  ;
}

#session4_label {
    position : absolute ;
    top      : 1300px   ;
    left     : 400px    ;
    width    : 650px    ;
    height   : 70px    ;
    background-color : #006699 ;
    color    : #ffffff  ;
}

#session4_label_first_line { 
    font-size : 150% ;
    height   : 30px ;
    color    : #33ffff ;
    margin-left : 10px ;
}

#session4_label_second_line {
    font-size : 200% ;
    top      : 31px ;
    margin-left : 10px ;
    line-height : 40px ;
}

#session4_contents {
    position : absolute  ;
    top      : 1370px    ;
    left     : 400px     ;
    width    : 650px     ;
    height   : 100px     ;
/*    background-color : #ffffff ; */
    color    : #000000   ;
}

#session4_right_hand_contents {
    width     :  77% ;
    font-size : 120% ;
    height   : 100px ;
    float    : right ;
    line-height : 25px ;
}

#session4_left_hand_contents {
    width    :  23%  ;
    float    : left  ;
}

#last_message {
    position : absolute  ;
    top      : 1550px    ;
    left     : 450px     ;
    width    : 550px     ;
    height   : 85px      ;
    color    : #006699   ;
    font-size : 145%     ;
    font-weight: bold    ;
}

#bottom_banner {
    position : absolute  ;
    top      : 1635px    ;
    left     : 0px       ;
    width    : 1386px    ;
    height   : 49px      ;
}
